.rs {
    color: aqua;
}
.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}
.fc_info {
    text-align: center;
    flex-grow: 1;
}